<div>
    <p>
        <label>CPF</label>
        <!-- A linha só será pulada se breakLineOnInput for verdadeiro -->
        <br *ngIf="breakLineOnInput">  
        <!--
    ngModel permite que façamos um two-way bind. Isso é, ao alterar uma variável
    na classe alteramos na tela e ao alterarmos na tela (por meio da ação do usuário)
    alteramos na classe também
    Outro fator importante é que chamamos eventos como click e change ao invés de onclick ou onchange.
    <input type={{inputType}}> é, em geral equivalente a <input [type]="inputType">
    -->
    <input type='text' [style]=inputStyle (focusout)="cpfFocusout()" [(ngModel)]="inputText"
            (keydown)="cpfChanged()" (change)="cpfChanged()" (click)="cpfClick()">

</div>